<nav class="navbar-top">
    <div class="m-container">
        <a routerLink="/" class="main-logo-container">
            <i class="main-logo main-logo-item fas fa-book-reader"></i>
            <h1 class="main-logo-item main-logo-text">Biblioteca</h1>
        </a>
        <div class="rg">
            <a class="navbar-item" href="#">Inicio</a>
            <a class="navbar-item" href="#">Acerca De</a>
            <a class="navbar-item" href="#">Itemitem</a>
        </div>
    </div>
</nav>

<div class="m-container">
    <router-outlet>
    </router-outlet>
</div>