#login-row {
    border: 1px solid gray;
    border-radius: 10px;
}

#left-login,
#right-login {
    padding: 20px 6%;
}

#left-login {
    border-right: 1px solid gray;
}

.input-field {
    width: 100%;
}

.tha-title {
    text-align: center;
    font-size: 22px;
    margin: 15px;
}

.icon {
    font-size: 70px;
}

.option-1 {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: black;
    transition: .2s ease all;
    padding: 40px;
    border-radius: 5px;
    background-color: #ddd;
}

.option-1:hover {
    color: #182c41;
    background-color: #ccc;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#last-grid {
    grid-column: 1/3;
}