<main>
    <h2 class="m-b-20">¡BIENVENIDO CLIENTE!</h2>
    <div class="grid-2">
        <a class="option-1" routerLink="/search-biblio">
            <i class="icon fas fa-book"></i>
            <h3>Prestar Libro/Revista</h3>
        </a>
        <a class="option-1" routerLink="/my-books">
            <i class="icon fas fa-undo"></i>
            <h3>Devolver Libro/Revista</h3>
        </a>
        <a id="last-grid" class="last-grid option-1" routerLink="/history">
            <i class="icon fas fa-history"></i>
            <h3>Historial</h3>
        </a>
    </div>

    <!-- ADMIN -->
    <!--div class="ta-center" style="margin-bottom: 20px">
        <h1>¡BIENVENIDO ADMINISTRADOR!</h1>
    </div>
    <div class="grid-layout-2">
        <div class="div-option f-centered">
            <a class="option-1" routerLink="/admin/users">
                <i class="icon fas fa-user-circle"></i>
                <h1>Usuarios</h1>
            </a>
        </div>
        <div class="div-option f-centered" style="border-left: 1px solid gray;">
            <a class="option-1" routerLink="/admin/biblio">
                <i class="icon fas fa-book"></i>
                <h1>Libros/Revistas</h1>
            </a>
        </div>
    </div-->

    <!-- GENERAL -->
    <!--div class="ta-center">
        <h1>¡BIENVENIDO A LA PLATAFORMA!</h1>
    </div>
    <div id="login-row" class="grid-layout-2">
        <div id="left-login" class="f-centered">
            <form action="#" class="w-100" method="POST">
                <div class="tha-title">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="input-div">
                    <h5>Usuario</h5>
                    <input class="input-field" type="text" placeholder="Username">
                </div>
                <div class="input-div">
                    <h5>Contraseña</h5>
                    <input class="input-field" type="password" placeholder="Password">
                </div>
                <div class="input-div ta-center">
                    <input class="btn" type="submit" value="Iniciar Sesión">
                </div>
            </form>
        </div>
        <div id="right-login">
            <div class="tha-title">
                <h2>Registrarse</h2>
            </div>
            <form action="#" method="POST">
                <div class="input-div">
                    <h5>Usuario</h5>
                    <input class="input-field" type="text" placeholder="Username">
                </div>
                <div class="input-div">
                    <h5>Contraseña</h5>
                    <input class="input-field" type="password" placeholder="Password">
                </div>
                <hr class="m-b-20">
                <div class="input-div">
                    <h5>Nombre</h5>
                    <input class="input-field" type="text" placeholder="First Name">
                </div>
                <div class="input-div">
                    <h5>Apellido</h5>
                    <input class="input-field" type="text" placeholder="Last Name">
                </div>
                <div class="input-div">
                    <h5>Email</h5>
                    <input class="input-field" type="email" placeholder="Email">
                </div>
                <div class="input-div ta-center">
                    <input class="btn" type="submit" value="Registrarse">
                </div>
            </form>
        </div>
    </div-->
</main>