<main>
    <h2 class="m-b-20">TODOS LOS LIBROS Y REVISTAS</h2>
    <div class="m-b-20 m-t-20 sub-title-1">
        <i class="fas fa-book"></i>
        <h2>Libros</h2>
    </div>

    <div class="input-div">
        <h5>Buscar Libro</h5>
        <input class="input-field" type="search" placeholder="Search">
        <button class="search-button"><i class="fas fa-search"></i></button>
    </div>

    <div class="grid-layout-3">
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
    </div>

    <hr class="m-t-40">
    <div class="m-b-20 m-t-20 sub-title-1">
        <i class="fas fa-book-open"></i>
        <h2>Revistas</h2>
    </div>

    <div class="input-div">
        <h5>Buscar Libro</h5>
        <input class="input-field" type="search" placeholder="Search">
        <button class="search-button"><i class="fas fa-search"></i></button>
    </div>

    <div class="grid-layout-3">
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
        <div class="biblio-1">
            <h3>La Llorona</h3>
            <div style="margin-top: 10px;">
                <b>Autor:</b> Lorem Ipsum <br>
                <b>Edición:</b> Lorem Ipsum <br>
                <b>Palabras Clave:</b> Lorem Ipsum <br>
                <b>Descripción:</b> Lorem Ipsum <br>
                <b>Temas:</b> Lorem Ipsum <br>
                <b>Copias:</b> Lorem Ipsum <br>
                <b>Disponibles:</b> Lorem Ipsum <br>
            </div>
            <div style="margin-top: 10px;" class="ta-center">
                <button class="btn"><i style="margin-right: 5px;" class="fas fa-hands"></i>Prestar</button>
            </div>
        </div>
    </div>
</main>