<main>
    <div class="f-centered">
        <div class="centered-form">
            <div class="m-b-20 ta-center">
                <i class="m-b-20 icon-form fas fa-user-circle"></i>
                <h2>CREAR USUARIO</h2>
            </div>

            <form action="#" method="POST">
                <div class="input-div">
                    <h5>Usuario</h5>
                    <input class="w-100 input-field" type="text" placeholder="Username">
                </div>
                <div class="input-div">
                    <h5>Contraseña</h5>
                    <input class="w-100 input-field" type="password" placeholder="Password">
                </div>
                <div class="input-div">
                    <h5>Rol</h5>
                    <select class="w-100 input-field" name="role" id="role">
                        <option value="client">Cliente</option>
                        <option value="librarian">Bibliotecario</option>
                        <option value="admin">Administrador</option>
                    </select>
                </div>
                <hr class="m-b-20">
                <div class="input-div">
                    <h5>Nombre</h5>
                    <input class="w-100 input-field" type="text" placeholder="First Name">
                </div>
                <div class="input-div">
                    <h5>Apellido</h5>
                    <input class="w-100 input-field" type="text" placeholder="Last Name">
                </div>
                <div class="input-div">
                    <h5>Email</h5>
                    <input class="w-100 input-field" type="email" placeholder="Email">
                </div>
                <div class="input-div">
                    <input class="w-100 btn" type="submit" value="Crear Usuario">
                </div>
            </form>
        </div>

    </div>
</main>