<main>
    <div class="f-centered">
        <div class="centered-form">
            <div class="m-b-20 ta-center">
                <i class="m-b-20 icon-form fas fa-book-open"></i>
                <h2>CREAR REVISTA</h2>
            </div>

            <form action="#" method="POST">
                <div class="input-div">
                    <h5>Autor</h5>
                    <input class="w-100 input-field" type="text" placeholder="Author">
                </div>
                <div class="input-div">
                    <h5>Título</h5>
                    <input class="w-100 input-field" type="password" placeholder="Title">
                </div>
                <div class="input-div">
                    <h5>Edición</h5>
                    <input class="w-100 input-field" type="number" placeholder="123456">
                </div>

                <div class="input-div">
                    <h5>Copias</h5>
                    <input class="w-100 input-field" type="number" placeholder="123456">
                </div>
                <div class="input-div">
                    <h5>Frecuencia Actual</h5>
                    <input class="w-100 input-field" type="number" placeholder="123456 - frecuencia en días (ej. semana = 7)">
                </div>
                <div class="input-div">
                    <h5>Ejemplares</h5>
                    <input class="w-100 input-field" type="number" placeholder="123456">
                </div>
                <div class="input-div">
                    <h5>Descripción</h5>
                    <textarea class="w-100 input-field" rows="8" type="text" placeholder="Description"></textarea>
                </div>
                <div class="input-div">
                    <h5>Palabras Claves</h5>
                    <textarea class="w-100 input-field" rows="8" type="text" placeholder="lorem, ipsum, dolor..."></textarea>
                </div>
                <div class="input-div">
                    <h5>Temas</h5>
                    <textarea class="w-100 input-field" rows="8" type="text" placeholder="lorem, ipsum, dolor..."></textarea>
                </div>
                <div class="input-div">
                    <input class="w-100 btn" type="submit" value="Crear Revista">
                </div>
            </form>
        </div>

    </div>
</main>